.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
    }
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}








.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: yellow; */
}


.ad {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
  /* background-color: #ccc; */
  height: 440px;
  /* border: 2px solid black; */
  margin-bottom: 10px;
}

.ad:hover{
  /* background-color: yellow; */
  /* color: yellow; */
  border: 1px solid bisque
}

@media only screen and (max-width: 768px) {
  .ad {
    width: 100%;
  }
}

@media only screen and (max-width: )


img{
  border-radius: 7px;
}

/* #productImages{
height: 50px;
width: 50px;
} */

/* #uniqueProduct{
  background-color: antiquewhite;
  width: 50%;
  margin: 10px auto;
} */

#adText{
  text-align: left;
  width: 80%;
  margin-left: 30px;
  /* background-color: yellow; */
}

#adOnlyText{
  height: 50px;
}

/* .ad MDBCard:hover{
  border: 1px solid black;
} */

#checkout :hover{
background-color: antiquewhite;
}


#checkout{
  color:white
}

